
.formulario{
    width: 1000px;
    font-size: 2vh;
    color: #000000;
    background-color: #E7C258;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.formulario-titulo{
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
}

.botones{
    background-color: transparent;
    border-style: hidden;
    border-bottom: 1px solid;
    margin: 10px;
    padding-bottom: 10px;
}


